
body {
	background-color: #1cc03f;
}

.player {
	width: 40%;
	border: solid 5px #222;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
	margin: 1%;
	vertical-align: top;
	background: #e4dcdc;
}

